.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-centre{
    justify-content: center;
}

.align-centre{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px ;/* ched khani*/
}


/* ye logo aur spotify thoda mene ya idhar udhar se aya */

.logo{
    display: flex;
}
.spotify{
    margin-left: 5px;
    padding-top: 6px;
    font-weight: bold;
} 



::-webkit-scrollbar {
    width: 10px;  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e1e;  /* Dark background for the track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;  /* Dark gray thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;  /* Slightly lighter on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #1e1e1e;
}


